# 프로젝트 제외 경로
/.gradle/
/build/
/build/classes/java/main/
/src/main/resources/drive
/youtube.sql
/src/main/resources/static/img/*.png
/src/main/resources/static/upload/thumnail/*.png
/src/main/resources/static/upload/vod/*.mp4
